**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/*.userprefs
**/TestResults/
**/*.md
**/*.gitignore
**/.git/
**/.idea/
**/*.DS_Store
**/appsettings.Development.json
**/.env
**/.env.example
